/* Variables */
:root {
  --primary-color: #004aad;
  --secondary-color: #3498db;
  --background-color: #282a36;
  --text-color: white;
  --font-family: 'Montserrat', sans-serif;
  --font-weight-bold: 900;
}

/* Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

/* Common Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Home Page */
.homePageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  height: 100vh;
  background-color: var(--background-color);
}

.fromPageWrapper {
  display: flex;
  border-radius: 2%;
  flex-direction: column;
  padding: 0 0 1% 0;
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.logo-main {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 100%; /* Make the logo take up the full width of its container */
  max-width: 200px; /* Set a maximum width for the logo */
  margin: -20px 75px; /* Center the logo horizontally */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

.mainLabel {
  margin-left: 10%;
}

.inputBox {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: 15px;
  border: 1px transparent;
  border-radius: 5px;
  padding: 1.9%;
  margin: 1% 0;
}

.joinbtn {
  margin: 1% 0;
  border-radius: 5px;
  font-weight: var(--font-weight-bold);
  background-color: var(--primary-color);
  padding: 10px 20px;
  /* Adjust padding for better aesthetics */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.joinbtn:hover {
  background-color: #00337f;
  /* Darker shade of primary color */
  color: white;
}

.bottomName {
  color: var(--primary-color);
  text-decoration: none;
}

.createNewBtn {
  color: var(--primary-color);
}

/* Main Wrapper */
.mainWrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 230px 1fr;
}

.aside {
  background-color: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.logoImg {
  width: 35%;
  margin-left: 28%;
}

.clientList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: var(--font-weight-bold);
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.copybtn,
.leavebtn {
  margin: 2% 4%;
  border-radius: 5px;
  padding: 3.4% 1%;
  border: transparent;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.leavebtn {
  background: var(--primary-color);
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.newRoom-btn {
  display: inline-flex; 
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; 
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.newRoom-btn:hover {
  background-color: #2980b9; /* Slightly darker shade of the secondary color */
  color: white;
}

.createInfo {
  font-size: 18px; 
  margin-top: 20px; 
}

.createInfo a {
  margin-left: 10px; 
}
