/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Home Page */
.homePageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}

.fromPageWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  padding: 1%;
  background-color: #282a36;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logo-main {
  width: 35%;
  margin-left: 5%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.mainLabel {
  margin-left: 10%;
}

.inputBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1.2%;
  margin: 1% 0;
}

.joinbtn {
  margin: 1% 0 1% auto;
  border-radius: 5px;
  font-weight: bold;
  background-color: #004aad;
  padding: 1.2% 2%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.joinbtn:hover {
  background-color: #00307a;
}

.bottomName {
  color: #004aad;
  text-decoration: none;
}

.createNewBtn {
  color: #004aad;
  text-align: center;
  margin-top: 10px;
}

/* Main Wrapper */
.mainWrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-gap: 20px;
  height: 100vh;
}

/* Aside */
.aside {
  background-color: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.logoImg {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.clientList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

/* Buttons */
.copybtn,
.leavebtn {
  margin: 2% 4%;
  border-radius: 5px;
  padding: 1% 2%;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.copybtn {
  background: #004aad;
  color: white;
}

.leavebtn {
  background: #d93434;
  color: white;
}

.copybtn:hover,
.leavebtn:hover {
  background-color: #00307a;
}

/* CodeMirror */
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 16px;
  line-height: 1.6;
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}