body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: #1c1e29;
}

/* Mousemove cursor effect*/
#cursor{
  width: 15px;
  height: 15px;
  background-color: #d2e0fbc1; /* Change the color accordingly*/
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

/*Hides the mouseMove effect and target devices without a mouse (touch devices)    */
@media (hover: none) {
  #cursor {
    display: none; 
  }
}